.App {
  align-items: center;
  text-align: center;
  margin-top: 25px;
  color: white;
}

form{
  text-align: center;
  width: 100%;
  min-width: 560px;
}
.gradient {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}
.images {
  width: 250px;
  text-align: left;
  margin: 20px;
  box-shadow: 1px 1px 10px black;
  border-radius: 15px;
}
img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
}
p {
  text-align: center;
  font-weight: 500;
}
.button,.button1,.button2 ,.button3  {
  margin-top: -10px;
  width: 100%;
}

.nfts{
  display: flex;
  flex-wrap: wrap;
}
.balance1 {
  display: none;
}